<script>
function uuidv4() {
	return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
		var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
		return v.toString(16);
	});
}
window.onload = function() {
	if (localStorage.getItem('manhunt_uuid') == undefined)
		localStorage.setItem('manhunt_uuid', uuidv4())
}
function redirect() {
	let name = document.getElementById('name').value;
	let user = localStorage.getItem('manhunt_uuid');
	location.href = '/actually-join-room/' + '<%= room_id %>' + '/' + user + '/' + name;
}
</script>
<p>room <%= room_id %> has <%= Object.keys(room_players).length %> players</p>
<% Object.keys(room_players).forEach(function(key) { %>
	<li><%= room_players[key].name %></li>
<% }); %>
<input type='text' name='name' id='name'>
<button onclick='redirect()'>join</button>